@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root{  
    --text-font: 'Inter';

}

*{
    font-family: var(--text-font);
    font-size: 12px;
/*     margin: 0 auto; */

}