@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root{  
    --text-font: 'Inter';/* 
    --bckg-img:url("./img/fundo.jpg") */
    --color-bck: #FFEDD5;

}

*{
    font-family: var(--text-font);/* 
    background-color: var(--color-bck); */
    
    margin: 0;
    padding: 0;

}
/* PALETA CORES: #F9EEC9 - #D3B786 - #886838 - #AF672D - #E4B455 - #770D15 - #B4000F - #58483A - #90A74C - #597718 */
body{
    background-color: #F9EEC9;

}

/* FONTS */
h1, h2, h3, .price {
    font-family: 'Inter', serif;
    text-transform: uppercase;
    color: #2D2C2A;
}

span{
    background-color: #597718;
    border-radius: 8px;

    padding: 0 2.5px 0;

}

header{
    padding: 35px 0;
    text-align: center;   

}

 /* HEADER NAME */
header, section{
    
    max-width: 300px;
    margin: 0 auto;

}

header h1{
    margin-bottom: 5px;
    font-size: 28px;
    line-height: 40px;
        
    color: #B4000F;
    text-shadow: 0.75px 0.75px #eadac0;

}

header h1 span{

    letter-spacing: 0.05em;
    line-height: 32px;
    color: #F9EEC9;
    text-shadow: 0.50px 0.50px #B4000F;

}

header p{
    font-size: 14px;
    line-height: 16px;

    color: rgba(0, 0, 0, 0.7);


}

/* CSS SECTIONS */
section{
   margin-bottom: 24px;
}

section h2{
    background-color: #B4000F;

    color: #FFF;
    padding: 8px 16px;
    text-align: center;    

    margin-bottom: 24px;
    font-size: 18px;

    border-radius: 10px;
}

/* LISTAS */

ul li{
    margin-bottom: 16px;
    display: flex;

}
li .detalhes{
    max-width: 240px;

}

.detalhes h3{
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 19px;

}

.detalhes p{
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 21px;
}