@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root{  
    --text-font: 'Inter';
    --gradient-color:linear-gradient(rgba(240,246,238,1) 67.4% );
    --color-bck: #FFEDD5;

}

*{
    font-family: var(--text-font);
    background-color: var(--color-bck);
    /*margin: 0 auto; */

}